@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fall in love with plants!</h1>
    <p>R&G Plants is your one-stop shop for all plant related goodness. It’s a place to learn how to become the best
        possible plant parent and connect with other plant lovers throughout Europe.</p>
    <img src="https://wallpapersmug.com/large/009051/purple-flowers-flora-nature.jpg" />
</div>
